Repository joseph-lozano/phoenix_react_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, lint, typecheck, build, format, credo, sobelow, test, compile

prettier:
  name: Frontend/Prettier
  language: system
  entry: npm run --prefix assets prettier
  pass_filenames: false

lint:
  name: Frontent/Lint
  language: system
  entry: npm run --prefix assets lint
  pass_filenames: false

typecheck:
  name: Frontend/Typecheck
  language: system
  entry: npm run --prefix assets tsc
  pass_filenames: false

build:
  name: Frontend/Build
  language: system
  entry: npm run --prefix assets build
  pass_filenames: false

format:
  name: Elixir/Format
  language: system
  entry: mix format
  pass_filenames: false

credo:
  name: Elixir/Credo
  language: system
  entry: mix credo --strict
  pass_filenames: false

sobelow:
  name: Elixir/Sobelow
  language: system
  entry: mix sobelow --config --exit
  pass_filenames: false

test:
  name: Elixir/Test
  language: system
  entry: mix test
  pass_filenames: false

compile:
  name: Elixir/Compile
  language: system
  entry: mix compile --force --warnings-as-errors
  pass_filenames: false

📦 Run rename script
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/nightly-integration-test.yml
  .gitignore
  Dockerfile
  assets/index.html
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  lib/controllers/page_controller.ex
  lib/phoenix_react_template.ex
  lib/phoenix_react_template/application.ex
  lib/phoenix_react_template/mailer.ex
  lib/phoenix_react_template/release.ex
  lib/phoenix_react_template/repo.ex
  lib/phoenix_react_template_web.ex
  lib/phoenix_react_template_web/controllers/error_json.ex
  lib/phoenix_react_template_web/endpoint.ex
  lib/phoenix_react_template_web/router.ex
  lib/phoenix_react_template_web/telemetry.ex
  lib/phoenix_solid_js_template/mailer.ex
  lib/phoenix_solid_js_template/repo.ex
  mix.exs
  priv/repo/seeds.exs
  rel/overlays/bin/migrate
  rel/overlays/bin/server
  test/support/conn_case.ex
  test/support/data_case.ex
  test/test_helper.exs
Due: build, format, credo, sobelow, test, compile

🔥 Remove assets dir
  assets/.eslintrc.cjs
  assets/.gitignore
  assets/README.md
  assets/index.html
  assets/package-lock.json
  assets/package.json
  assets/public/vite.svg
  assets/src/App.css
  assets/src/App.tsx
  assets/src/assets/solid.svg
  assets/src/index.css
  assets/src/index.tsx
  assets/src/vite-env.d.ts
  assets/tsconfig.json
  assets/tsconfig.node.json
  assets/vite.config.ts
Due: prettier, lint, typecheck, build

⚛️ Covert to React
  .prettierignore
  assets/.eslintignore
  assets/.eslintrc.cjs
  assets/.gitignore
  assets/index.html
  assets/package-lock.json
  assets/package.json
  assets/public/vite.svg
  assets/src/App.css
  assets/src/App.tsx
  assets/src/assets/react.svg
  assets/src/index.css
  assets/src/main.tsx
  assets/src/vite-env.d.ts
  assets/tsconfig.json
  assets/tsconfig.node.json
  assets/vite.config.ts
Due: prettier, lint, typecheck, build

⚛️ Covert to React
  .prettierignore
  README.md
  assets/.eslintignore
  assets/.eslintrc.cjs
  assets/.gitignore
  assets/index.html
  assets/package-lock.json
  assets/package.json
  assets/public/vite.svg
  assets/src/App.css
  assets/src/App.tsx
  assets/src/assets/react.svg
  assets/src/index.css
  assets/src/main.tsx
  assets/src/vite-env.d.ts
  assets/tsconfig.json
  assets/tsconfig.node.json
  assets/vite.config.ts
Due: prettier, lint, typecheck, build

📄 Add MIT License
  LICENSE
Due: none

📄 Add MIT License (#2)
  LICENSE
Due: none

📝 Add credits to README
  README.md
Due: none

📝 Add credits to README (#3)
  README.md
Due: none

📝 Update LICENSE
  LICENSE
Due: none

📝 Update LICENSE (#4)
  LICENSE
Due: none

Fix rename.sh
  rename.sh
Due: none

🔧 Fix rename.sh (#5)
  rename.sh
Due: none

Fix rename.sh (#6)
  rename.sh
Due: none

Update vite.config.ts and tsconfig.json
  assets/vite.config.ts
Due: prettier, lint, typecheck, build

udpate tsconfig
  assets/tsconfig.json
Due: prettier, lint, typecheck, build

Update vite.config.ts and tsconfig.json (#7)
  assets/tsconfig.json
  assets/vite.config.ts
Due: prettier, lint, typecheck, build

🚚 Fix location of page_controller
  .dialyzer_ignore.exs
  lib/phoenix_react_template_web/controllers/page_controller.ex
Due: build, format, credo, sobelow, test, compile

🐛 Fix location of PageController (#9)
  .dialyzer_ignore.exs
  lib/phoenix_react_template_web/controllers/page_controller.ex
Due: build, format, credo, sobelow, test, compile

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#28)
  .github/dependabot.yml
Due: none

also update eslint parser
  assets/package-lock.json
  assets/package.json
Due: prettier, lint, typecheck, build

npm update
  assets/package-lock.json
Due: prettier, lint, typecheck, build

npm update (#35)
  assets/package-lock.json
Due: prettier, lint, typecheck, build

upgrade to Vite 5
  assets/package-lock.json
  assets/package.json
Due: prettier, lint, typecheck, build

Update dependabot.yml (#36)
  .github/dependabot.yml
Due: none

Upgrade to Vite 5 (#37)
  assets/package-lock.json
  assets/package.json
Due: prettier, lint, typecheck, build

add elixir-styler
  .credo.exs
  .formatter.exs
  lib/phoenix_react_template/mailer.ex
  lib/phoenix_react_template_web.ex
  lib/phoenix_react_template_web/router.ex
  lib/phoenix_react_template_web/telemetry.ex
  mix.exs
  mix.lock
  test/support/conn_case.ex
  test/support/data_case.ex
Due: build, format, credo, sobelow, test, compile

Add elixir-styler (#38)
  .credo.exs
  .formatter.exs
  lib/phoenix_react_template/mailer.ex
  lib/phoenix_react_template_web.ex
  lib/phoenix_react_template_web/router.ex
  lib/phoenix_react_template_web/telemetry.ex
  mix.exs
  mix.lock
  test/support/conn_case.ex
  test/support/data_case.ex
Due: build, format, credo, sobelow, test, compile

add .tool-versions
  .tool-versions
Due: none

Add .tool-versions (#39)
  .tool-versions
Due: none

Update deps
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build

Update deps (#49)
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build

update deps
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build

fix typo
  .pre-commit-config.yaml
Due: prettier

run prettier
  .github/actions/elixir-setup/action.yml
  .github/dependabot.yml
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/frontend-build.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  README.md
Due: none

Upgrade deps (#66)
  .github/actions/elixir-setup/action.yml
  .github/dependabot.yml
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/frontend-build.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .pre-commit-config.yaml
  README.md
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build

fixes
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .pre-commit-config.yaml
  Dockerfile
Due: prettier

Fix Elixir version (#67)
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .pre-commit-config.yaml
  Dockerfile
Due: prettier

Path conditions:
  prettier: any of: \.(ts|js|tsx|jsx|json|cjs|mjs|yaml)
  lint: any of: \.(ts|js|tsx|jsx|cjs|mjs)
  typecheck: any of: \.(ts|js|tsx|jsx|cjs|mjs)
  build: any of: \.(ts|js|tsx|jsx|cjs|mjs|ex|exs|heex)
  format: any of: \.(ex|exs|heex)
  credo: any of: \.(ex|exs|heex)
  sobelow: any of: \.(ex|exs|heex)
  test: any of: \.(ex|exs|heex)
  compile: any of: \.(ex|exs|heex)
