Repository joseph-lozano/phoenix_react_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, lint, typecheck, build, format, credo, sobelow, test, compile

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: prettier
        name: Frontend/Prettier
        language: system
        entry: npm run --prefix assets prettier
        files: \.(ts|js|tsx|jsx|json|cjs|mjs|yaml)
        pass_filenames: false

      - id: lint
        name: Frontent/Lint
        language: system
        entry: npm run --prefix assets lint
        files: \.(ts|js|tsx|jsx|cjs|mjs)
        pass_filenames: false

      - id: typecheck
        name: Frontend/Typecheck
        language: system
        entry: npm run --prefix assets tsc
        files: \.(ts|js|tsx|jsx|cjs|mjs)
        pass_filenames: false

      - id: build
        name: Frontend/Build
        language: system
        entry: npm run --prefix assets build
        files: \.(ts|js|tsx|jsx|cjs|mjs|ex|exs|heex)
        pass_filenames: false

      - id: format
        name: Elixir/Format
        language: system
        entry: mix format
        files: \.(ex|exs|heex)
        pass_filenames: false

      - id: credo
        name: Elixir/Credo
        language: system
        entry: mix credo --strict
        files: \.(ex|exs|heex)
        pass_filenames: false

      - id: sobelow
        name: Elixir/Sobelow
        language: system
        entry: mix sobelow --config --exit
        files: \.(ex|exs|heex)
        pass_filenames: false

      - id: test
        name: Elixir/Test
        language: system
        entry: mix test
        files: \.(ex|exs|heex)
        pass_filenames: false

      - id: compile
        name: Elixir/Compile
        language: system
        entry: mix compile --force --warnings-as-errors
        files: \.(ex|exs|heex)
        pass_filenames: false

update pre-commit config
  .pre-commit-config.yaml
Due: prettier

Update pre-commit config (#93)
  .pre-commit-config.yaml
Due: prettier

Update Erlang and Elixir
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .tool-versions
  Dockerfile
Due: none

Update Erlang and Elixir (#94)
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .tool-versions
  Dockerfile
Due: none

fix pre-commit config
  .pre-commit-config.yaml
Due: prettier

Fix pre-commit config (#95)
  .pre-commit-config.yaml
Due: prettier

update deps
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build

fix prettier
  assets/tsconfig.json
Due: prettier, lint, typecheck, build

Update deps (#113)
  assets/package-lock.json
  assets/tsconfig.json
  mix.lock
Due: prettier, lint, typecheck, build

update app to phoenix 1.7.11
  config/config.exs
  config/runtime.exs
  config/test.exs
  lib/phoenix_react_template/application.ex
  mix.exs
  mix.lock
Due: build, format, credo, sobelow, test, compile

move sleep to backend
  assets/src/App.tsx
  lib/phoenix_react_template_web/controllers/page_controller.ex
Due: prettier, lint, typecheck, build, format, credo, sobelow, test, compile

Update app to phoenix 1.7.11 (#130)
  assets/src/App.tsx
  config/config.exs
  config/runtime.exs
  config/test.exs
  lib/phoenix_react_template/application.ex
  lib/phoenix_react_template_web/controllers/page_controller.ex
  mix.exs
  mix.lock
Due: prettier, lint, typecheck, build, format, credo, sobelow, test, compile

fix useEffect
  assets/src/App.tsx
Due: prettier, lint, typecheck, build

🩹 Fix useEffect (#131)
  assets/src/App.tsx
Due: prettier, lint, typecheck, build

update deps
  assets/package-lock.json
  assets/package.json
  mix.lock
Due: prettier, lint, typecheck, build

Update deps (#151)
  assets/package-lock.json
  assets/package.json
  assets/tsconfig.json
  mix.lock
Due: prettier, lint, typecheck, build

update deps
  assets/package-lock.json
  assets/package.json
Due: prettier, lint, typecheck, build

Update Deps (#152)
  assets/package-lock.json
  assets/package.json
Due: prettier, lint, typecheck, build

update elixir
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .tool-versions
  Dockerfile
Due: none

update erlang
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .tool-versions
  Dockerfile
Due: none

update node
  .github/workflows/frontend-build.yml
  .github/workflows/frontend-quality-checks.yml
  .tool-versions
  Dockerfile
Due: none

update tool-versions (#194)
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/frontend-build.yml
  .github/workflows/frontend-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .tool-versions
  Dockerfile
Due: none

Update deps (#217)
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build

Update README.md
  README.md
Due: none

bump erlang to 26.2.4
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .tool-versions
  Dockerfile
Due: none

Update Erlang to 26.2.4 (#231)
  .github/workflows/elixir-build-and-test.yml
  .github/workflows/elixir-dialyzer.yml
  .github/workflows/elixir-quality-checks.yml
  .github/workflows/nightly-integration-test.yml
  .tool-versions
  Dockerfile
Due: none

Bump deps
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build

Bump deps (#232)
  assets/package-lock.json
  mix.lock
Due: prettier, lint, typecheck, build
